<div class="filter-sidebar ml-5">
  <h3>ジャンルで絞り込み</h3>
  <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
    <% @genres.each do |genre| %>
      <div>
        <%= check_box_tag "genre_ids[]", genre.id, params[:genre_ids]&.include?(genre.id.to_s) %>
        <%= label_tag "genre_ids_#{genre.id}", genre.name %>
      </div>
    <% end %>
    <%= f.submit "検索", class: "filter-button" %>
  <% end %>
</div>
