<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="d-flex justify-content-center align-items-center vh-100">
  <h2 class="text-center fw-bold">
    ジャンル絞り込み機能を使い、自分が好きな投稿だけを表示しよう
  </h2>
</div>
