<div class="container mypage-container mt-5">
  <div class="row">
    <!-- 左側のユーザー情報 -->
    <div class="col-md-4">
      <%= render partial: "public/users/user_info", locals: { user: @user } %>

      <% if @is_current_user %>
        <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-primary mt-3 w-100" %>
      <% end %>
    </div>

    <!-- 右側の投稿一覧 -->
    <%= render partial: "public/users/post_list", locals: { posts: @posts } %>
  </div>
</div>
