<div class="container mypage-container mt-5">
  <div class="row">
    <!-- 左側のユーザー情報 -->
    <div class="col-md-4">
      <%= render partial: "public/users/user_info", locals: { user: @user } %>

      <% if @is_current_user %>
        <!-- プロフィール編集ボタン -->
          <%= link_to edit_user_path(@user), 
              class: "btn btn-outline-secondary w-100 mt-3 #{'disabled' if @user.email == 'guest@example.com'}" do %>
            <i class="fas fa-user-cog"></i> プロフィール編集
          <% end %>

        <!-- 退会ボタン -->
        <% if @user.email == 'guest@example.com' %>
          <button class="btn btn-danger mt-3 w-100" disabled>退会する</button>
        <% else %>
          <%= button_to "退会する", user_path(current_user),
              method: :delete,
              data: { confirm: "本当に退会しますか？" },
              class: "btn btn-danger mt-3 w-100" %>
        <% end %>
      <% end %>
    </div>

    <!-- 右側の投稿一覧 -->
    <%= render partial: "public/users/post_list", locals: { posts: @posts } %>
  </div>
</div>
